'.source.js':
  'React Redux ES6 Class Container':
    'prefix': 'rcontainer'
    'body': """
      import React, { Component, PropTypes } from 'react';
      import { connect } from 'react-redux';

      class ${1:Class} extends Component {
        render() {
          return (
            <div>
              ${4}
            </div>
          );
        }
      }

      ${1:Class}.propTypes = {
        ${5}
      };

      export default connect(${2}, ${3})(${1:Class});
    """

  'React ES6 Class Component':
    'prefix': 'rcomponent'
    'body': """
      import React, { Component, PropTypes } from 'react';

      class ${1:Class} extends Component {
        render() {
          return (
            <div>
              ${2}
            </div>
          );
        }
      }

      ${1:Class}.propTypes = {
        ${3}
      };

      export default ${1:Class};
    """

  'React Component Function':
    'prefix': 'rfcomponent'
    'body': """
      import React, { PropTypes } from 'react';

      const ${1:Class} = (${2:props}) => {
        return (
          <div>
            ${3}
          </div>
        );
      };

      ${1:Class}.propTypes = {
        ${4}
      };

      export default ${1:Class};
    """

  'React Redux Container Function':
    'prefix': 'rfcontainer'
    'body': """
      import React, { PropTypes } from 'react';
      import { connect } from 'react-redux';

      const ${1:Class} = (${2:props}) => {
        return (
          <div>
            ${5}
          </div>
        );
      };

      ${1:Class}.propTypes = {
        ${6}
      };

      export default connect(${3}, ${4})(${1:Class});
    """

  'ES6 Redux Reducer':
    'prefix': 'rrd'
    'body': """
      import { ${2} } from '${3}';
      const initialState = {
        ${5}
      };

      const ${1:reducer} = (state = initialState, action) => {
        switch (action.type) {
          case ${2}:
            return ${4};
          default:
            return state;
        }
      };

      export default ${1:reducer};
    """

  'ES6 Redux Action Creator':
    'prefix': 'rac'
    'body': """
      export const ${1:action} = (${2:data}) => ({
        type: ${3},
        payload: ${4:data},
      });
    """

  'ES6 Redux Thunk Action Creator':
    'prefix': 'rtac'
    'body': """
      export const ${1} = (${2}) => (${3:dispatch}, ${4:getState}) => {
        ${5}
      };
    """

  'ES6 Redux Action Type':
    'prefix': 'rtp'
    'body': 'export const ${1} = \'${1}\';${0}'

  'ES6 Redux Dispatch':
    'prefix': 'rdsph'
    'body': 'dispatch(${1:action}(${2:param}));${0}'

  'React ES6 bind method to this':
    'prefix': 'rbm',
    'body': 'this.${1} = this.${1}.bind(this);${0}'
